footer {
  background-color: rgba(14, 13, 13, 0.938);
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px;
  width: 100%;
  margin-top: 100px;
}

.footer-ust {
  flex-basis: 25%;
  margin-bottom: 20px;
}

.footer-orta {
  flex-basis: 25%;
  margin-bottom: 20px;
}

.footer-sag {
  flex-basis: 25%;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

.instagram-kutulari {
  display: flex;
  flex-wrap: wrap;
}

.instagram-kutulari img {
  width: 80px;
  height: 80px;
  margin: 5px;
}


.footer-alt {
  flex-basis: 100%;
  margin-top: 20px;
  text-align: left;
}

.icon-wrapper {
  display: flex;
  align-items: center;
}

.icon-wrapper img {
  height: 1.5rem;
  margin-right: 0.5rem;
}

.footer-alt img {
  height: 1.5rem;
  margin-left: auto;
}

