.galeri {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.galeri-item {
  position: relative;
  flex-basis: 100%;
  max-width: 100%;
  margin: 0.5rem;
}

.galeri-item img {
  display: block;
  max-width: 100%;
  height: auto;
}

.galeri-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.5rem;
  color: #fff;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.galeri-content button {
  background-color: #fff;
  border: none;
  color: #000;
  padding: 0.5rem;
  font-size: 0.8rem;
  cursor: pointer;
}

.galeri-item:nth-child(1) {
  flex-basis: calc(100% / 3);
  max-width: calc(100% / 3);
}

.galeri-item:nth-child(2),
.galeri-item:nth-child(3) {
  display: none;
}

@media (min-width: 768px) {
  .galeri-item:nth-child(2),
  .galeri-item:nth-child(3) {
    display: block;
    flex-basis: calc(100% / 3);
    max-width: calc(100% / 3);
  }
}
