.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  padding: 1rem; /* daha küçük padding */
  font-size: 0.8rem; /* küçültülmüş font boyutu */
  margin-bottom: 50px;
}

  
  .menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 0.7rem; /* küçültülmüş font boyutu */
  }
  
  .menu-item img {
    width: 2rem; /* küçültülmüş resim boyutu */
    height: 2rem;
    margin-bottom: 0.5rem; /* küçültülmüş alt boşluk */
  }
  
  .menu-item p {
    margin: 0;
    font-weight: bold;
    color: #333;
  }
  